<html>
    <%-include('partials/head.html');%>
    
    <body>

        <header>

    <%-include('partials/navegacion.html');%>
        </header>
    

    <div style="text-align: center;">
        <img src="img/logo-el-manantial.png" width="15%" alt="">
    </div>
    <main role="main">
        <div class="container-fluid hero d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1 class="display-1 mb-0">EL MANANTIAL</h1>
                <h2 class="display-4 mt-0">Desde el Rosario, Sinaloa para todo México</h2>
            </div>
        </div>

        <div style="text-align: center;">
            <img src="img/manantial-tonicol.jpg" alt="">
        </div>

        <br><br><br>

        <div class="container" id="hist">
            <div class="row">
                <div class="col-md-7">
                    <h3>DE DONDE VENIMOS</h3>
                    <p class="lead">
                        Ubicado en El Rosario, Sinaloa, México. Somos orgullosamente una marca 100% mexicana y con mas
                        de 70 años de experiencia.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 my-4">
                    <h4>¿Que es el Tonicol?</h4>
                    <p class="text-muted">TONICOL ES UNA BEBIDA CARBONATADA SABOR VAINILLA, ORIGINARIA DE LA CIUDAD DE
                        EL ROSARIO, SINALOA,
                        MÉXICO. FAMOSA EN EL ESTADO DE SINALOA, ESPECIALMENTE EN LOS MUNICIPIOS DE MAZATLÁN Y EL
                        ROSARIO.
                        SU CREADOR FUE DON ANTONIO ESPINOZA DE LOS MONTEROS 'DON TONY'. EN 1880 EL CONOCIDO "TONY-CO",
                        ERA
                        EMBOTELLADO EN UN ENVASE CONOCIDO COMO TOLUQUITA Y SE VENDÍA REVUELTO CON OTROS SABORES.</p>
                </div>
                <div class="col-sm-6 my-4" id="prod">
                    <h4>¿Cuando Inicio el "Manantial"?</h4>
                    <p class="text-muted">EN 1947 A
                        INICIATIVA DE DON ÁNGEL SOLORZA GONZÁLEZ, EL REFRESCO SALE DEL ANONIMATO Y ADQUIERE UN ENVASE
                        PROPIO QUE
                        LO HACE DIFERENTE A LOS DEMÁS REFRESCOS. TONICOL DESTACA POR SU SABOR ÚNICO. SU NOMBRE SE DEBE
                        AL
                        DIMINUTIVO DE ANTONIO ESPINOZA DE LOS MONTEROS INVENTOR DE DICHA BEBIDA FRUTAL, QUE HABÍA SIDO
                        COMERCIALIZADA POR EUREKA DESDE 1880 Y HASTA LA FUNDACIÓN DE EL MANANTIAL S.A DE C.V. HOY EN
                        DÍA,
                        TONICOL ES UN REFRESCO PROPIEDAD DE EL MANANTIAL S.A. DE C.V.</p>
                </div>
            </div>
        </div>


        <div class="container marketing">

            <div class="row">
                <div class="col-lg-4">
                    <img src="img/tonicol-retornable-325ml.png" alt="">
                    <h2>RETORNABLE</h2>
                </div>
                <div class="col-lg-4">
                    <img src="img/tonicol-vidrio-355ml.png" width="52%" alt="">
                    <h2>NO RETORNABLE</h2>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="img/tonicol-pet-355ml.png" alt="">
                    <h2>PET NO RETORNABLE</h2>
                </div>
            </div>

            <div class="container marketing" id="">

                <div class="row">
                    <div class="col-lg-4">
                        <img src="img/tonicol-pet-600ml.png" alt="">
                        <h2>PET NO RETORNABLE</h2>
                    </div>
                    <div class="col-lg-4">
                        <img src="img/tonicol-pet-2l.png" alt="" width="55%">
                        <h2>PET NO RETORNABLE 2L</h2>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="img/tonicol-light-pet-355ml.png" alt="">
                        <h2>TONICOL LIGHT</h2>
                    </div>
                </div>



    </main>

    <div>
        <%-include('partials/footer.html');%>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>