<!DOCTYPE html>
<html lang="en">


<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="/img/logo-tonicol" alt=" logo-tonicol" width="100%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-items-right" id="navbarCollapse" style="padding-left: 36cm;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#hist">HISTORIA <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#prod">PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#cont">CONTACTO</a>
                </li>
            </ul>
        </div>
    </nav>

</body>

</html>